<template>
  <div class="grid gap-40px">
      <track-grid v-if="albums" heading="Albums" :items="albums" />
    </div>
</template>

<script setup>
import { useAsync, useContext } from '@nuxtjs/composition-api'
import api from '~/services/api'

const { $auth } = useContext()

const albums = useAsync(() => {
  return api('/me/albums', $auth, {
    params: {
      limit: 50,
    }
  }).then(({items}) => items.map(item => item.album))
})
</script>
