<template>
  <div class="grid gap-40px">
      <track-grid v-if="artists" heading="Artists" :items="artists.artists.items" />
    </div>
</template>

<script setup>
import { useAsync, useContext } from '@nuxtjs/composition-api'
import api from '~/services/api'

const { $auth } = useContext()

const artists = useAsync(() => {
  return api('/me/following', $auth, {
    params: {
      type: 'artist',
      limit: 50,
    }
  })
})
</script>
