<template>
  <div class="grid gap-40px">
      <track-grid v-if="playlists" heading="Playlists" :items="playlists.items" />
    </div>
</template>

<script setup>
import { useAsync, useContext } from '@nuxtjs/composition-api'
import api from '~/services/api'

const { $auth } = useContext()

const playlists = useAsync(() => {
  return api('/me/playlists', $auth, {
    params: {
      limit: 50,
    }
  })
})
</script>
