<template>
  <div>
    <header>
      <div v-if="banner" class="playlist-banner">
        <img :src="banner" alt="">
      </div>
      <div v-if="playlistName" class="meta">
        <h6>Playlist</h6>
        <h2>{{ playlistName }}</h2>
        <p v-if="playlistDescription">{{ playlistDescription }}</p>
      </div>
    </header>

    <track-list v-if="playlist" heading="" :items="playlist.tracks.items.map(item => item.track)" />
  </div>
</template>

<script setup>
import { useAsync, useRoute, useContext, computed } from '@nuxtjs/composition-api'
import { get } from 'lodash'
import api from '~/services/api'
import { stripHtml } from '~/util'

const route = useRoute()
const { $auth } = useContext()

const playlist = useAsync(() => {
  return api(`/playlists/${route.value.params.id}`, $auth)
}, route.value.params.id)

const banner = computed(() => get(playlist.value, 'images[0].url', ''))
const playlistName = computed(() => get(playlist.value, 'name', ''))
const playlistDescription = computed(() => stripHtml(get(playlist.value, 'description', '')))
</script>

<script>
export default {
  layout: 'main'
}
</script>

<style lang="scss" scoped>
header {
  @apply flex mb-50px items-end;

  .playlist-banner {
    @apply mr-20px w-250px;

    img {
      @apply shadow-lg shadow-true-gray-900;
    }
  }

  .meta {
    @apply flex-1;

    h6 {
      @apply uppercase text-xs mb-5px;
    }

    h2 {
      @apply font-bold text-5xl;
    }

    p {
      @apply mt-10px text-true-gray-400 text-sm;
    }
  }
}
</style>
