<template>
  <div>
    <header>
      <div v-if="banner" class="artist-banner">
        <img :src="banner" alt="">
      </div>
      <div v-if="artistName" class="meta">
        <h2>{{ artistName }}</h2>
        <p v-if="artistDescription">{{ artistDescription }}</p>
      </div>
    </header>

    <track-list v-if="topTracks" heading="Popular" :items="topTracks.tracks.slice(0, 5)" />

    <track-grid v-if="albums" heading="Albums" :items="albums.items" />
  </div>
</template>

<script setup>
import { useAsync, useRoute, useContext, computed } from '@nuxtjs/composition-api'
import { get } from 'lodash'
import api from '~/services/api'
import { stripHtml } from '~/util'

const route = useRoute()
const { $auth } = useContext()

const artist = useAsync(() => {
  return api(`/artists/${route.value.params.id}`, $auth)
}, `artist.${route.value.params.id}`)

const topTracks = useAsync(() => {
  return api(`/artists/${route.value.params.id}/top-tracks`, $auth, {
    params: {
      market: 'HK',
    }
  })
}, `artist.top-tracks.${route.value.params.id}`)

const albums = useAsync(() => {
  return api(`/artists/${route.value.params.id}/albums`, $auth, {
    params: {
      include_groups: 'album',
      market: 'HK',
      limit: 5,
    }
  })
}, `artist.albums.${route.value.params.id}`)

const banner = computed(() => get(artist.value, 'images[0].url', ''))
const artistName = computed(() => get(artist.value, 'name', ''))
const artistDescription = computed(() => stripHtml(get(artist.value, 'description', '')))
</script>

<script>
export default {
  layout: 'main'
}
</script>

<style lang="scss" scoped>
header {
  @apply flex mb-50px items-end;

  .artist-banner {
    @apply mr-20px w-250px;

    img {
      @apply shadow-lg shadow-true-gray-900;
    }
  }

  .meta {
    @apply flex-1;

    h6 {
      @apply uppercase text-xs mb-5px;
    }

    h2 {
      @apply font-bold text-5xl;
    }

    p {
      @apply mt-10px text-true-gray-400 text-sm;
    }
  }
}
</style>
