<template>
  <dropdown-menu class="account-dropdown" direction="right" :overlay="false">
      <button slot="trigger">
        <img :src="profileImage" alt=""> <h6>{{ displayName }}</h6> <mdicon name="menu-down" />
      </button>
      <ul slot="body">
        <li>
          <nuxt-link to="/profile">Profile</nuxt-link>
        </li>
        <li>
          <button @click="logout">Log out</button>
        </li>
      </ul>
    </dropdown-menu>
</template>

<script setup>
import { useContext } from '@nuxtjs/composition-api'
import useUser from '~/composition/useUser'

const { $auth } = useContext()
const { profileImage, displayName } = useUser()

const logout = () => {
  $auth.logout()
}
</script>

<style lang="scss" scoped>
.account-dropdown {
  &.v-dropdown-menu--active {
    ::v-deep .v-dropdown-menu__trigger {
      button {
        @apply bg-dark-500;

        .mdi {
          @apply transform rotate-180;
        }
      }
    }
  }

  ::v-deep .v-dropdown-menu__trigger {
    button {
      @apply flex items-center bg-black rounded-full p-3px pr-5px text-sm;

      &:hover {
        @apply bg-dark-500;
      }

      img {
        @apply rounded-full w-30px mr-10px;
      }
    }
  }

  ::v-deep .v-dropdown-menu__container {
    @apply bg-dark-500 p-4px mt-10px border-none rounded-sm shadow-md shadow-dark-500;

    ul {
      li {
        a,
        button {
          @apply text-left block w-full rounded-sm text-sm px-10px py-8px text-white no-underline;

          &:hover {
            @apply bg-dark-300;
          }
        }
      }
    }
  }
}
</style>
