<template>
  <div class="track-container">
    <div class="cover">
      <nuxt-link :to="`/album/${item.id}`">
        <img :src="albumCover" alt="">
      </nuxt-link>
      <button @click="playTrack">
        <mdicon v-if="!isPlaying || paused" name="play" />
        <mdicon v-else name="pause" />
      </button>
    </div>

    <h5>{{ trackName }}</h5>

    <p class="artists">{{ albumArtists }}</p>
  </div>
</template>

<script setup>
import { defineProps, computed, useStore, useContext } from '@nuxtjs/composition-api'
import useMusicPlayer from '~/composition/useMusicPlayer'

const props = defineProps({
  item: {
    type: Object,
    required: true,
  }
})

const store = useStore()
const { $auth } = useContext()

const albumCover = computed(() => props.item.images[0].url)
const trackName = computed(() => props.item.name)
const uri = computed(() => props.item.uri)
const albumArtists = computed(() => {
  const artists = props.item.artists.slice(0, 3).map(({name}) => name).join(', ')

  return props.item.artists.length > 3 ? `${artists} and more` : artists
})

const isPlaying = computed(() => uri.value === store.state.musicPlayer.uri)
const { togglePlay, paused } = useMusicPlayer()

const playTrack = () => {
  if (!isPlaying.value) {
    store.dispatch('musicPlayer/playContext', {uri: uri.value, $auth})
  } else {
    togglePlay()
  }
}
</script>

<style lang="scss" scoped>
.track-container {
  @apply rounded-sm bg-dark-600 p-15px transition-colors duration-300;

  &:hover {
    @apply bg-dark-400;

    .cover {
      button {
        @apply opacity-100 translate-y-0;
      }
    }
  }

  .cover {
    @apply relative;

    img {
      @apply aspect-square rounded-sm shadow-sm mb-20px;
    }

    button {
      @apply absolute bottom-0 right-0 w-40px h-40px bg-emerald-500 rounded-full m-10px shadow-md shadow-gray-700 transform translate-y-1/2 opacity-0 transition transition-all duration-300;

      &:hover {
        @apply scale-110;
      }
    }
  }

  h5 {
    @apply text-sm font-bold line-clamp-1 mb-5px;
  }

  p.artists {
    @apply text-gray-400 text-sm line-clamp-2;
  }
}
</style>
