<template>
  <div class="music-player">
    <div class="current-track">
      <img v-if="cover" class="cover" :src="cover" alt="">
      <div v-else class="cover empty"></div>

      <div ref="metaDom" class="meta">
        <h5 ref="trackNameDom" :class="{'overflow-active': trackNameOverflowed}">{{ trackName }}</h5>
        <p>{{ trackArtists }}</p>
      </div>
    </div>

    <div class="player-ui">
      <div class="player-controls">
        <button class="shuffle" :class="{active: shuffleState}" @click="toggleShuffle">
          <mdicon name="shuffle-variant" :size="18" />
        </button>

        <button class="skip" @click="previousTrack">
          <mdicon name="skip-previous" />
        </button>

        <button class="play-pause" @click="play">
          <mdicon v-if="paused" name="play" />
          <mdicon v-else name="pause" />
        </button>

        <button class="skip" @click="nextTrack">
          <mdicon name="skip-next" />
        </button>

        <button class="repeat" :class="{active: repeatMode > 0}" @click="toggleRepeatMode">
          <mdicon v-if="repeatMode === 0" name="repeat-off" :size="18" />
          <mdicon v-else-if="repeatMode === 1" name="repeat" :size="18" />
          <mdicon v-else name="repeat-once" :size="18" />
        </button>
      </div>
      <div class="player-progress">
        <div class="play-timer timer">{{ millisToMinutesAndSeconds(playTime) }}</div>

        <div
          class="player-tracker-wrapper"
          @mouseup="seekPlayer"
          @mousemove="onMoveSeekPlayer"
          @mousedown="seekMove"
          @touchstart="seekPlayer"
          @touchmove="onMoveSeekPlayer"
          @touchend="seekPlayer">
            <div ref="playerTracker" class="player-tracker">
              <div class="progress" :style="{transform: `translateX(${-1 * playProgress}%)`}"></div>
            </div>
            <div class="handle" :style="{right: `${playProgress}%`}"></div>
        </div>

        <div class="play-duration timer">{{ millisToMinutesAndSeconds(duration) }}</div>
      </div>
    </div>

    <div class="other-controls">
      <div class="volume-ui">
        <button @click="mute">
          <mdicon v-if="volumeLevel === 0" name="volume-variant-off" size="20" />
          <mdicon v-else-if="volumeLevel <= 0.25" name="volume-low" size="20" />
          <mdicon v-else-if="volumeLevel > 0.25 && volumeLevel < 0.75" name="volume-medium" size="20" />
          <mdicon v-else name="volume-high" size="20" />
        </button>

        <div
          class="volume-tracker-wrapper"
          @mousedown="setVolume"
          @mousemove="onMoveSetVolume"
          @mouseup="volumeDeFlag"
          @touchstart="setVolume"
          @touchmove="onMoveSetVolume"
          @touchend="volumeDeFlag">
          <div ref="volumeTracker" class="volume-tracker">
            <div class="progress" :style="{transform: `translateX(${-1 * volumeLevelPercent}%)`}"></div>
          </div>
          <div class="handle" :style="{right: `${volumeLevelPercent}%`}"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { useContext, onMounted, ref, useStore, computed, watch } from '@nuxtjs/composition-api'
import useMusicPlayer from '~/composition/useMusicPlayer'
import { millisToMinutesAndSeconds } from '~/util'

const { $auth } = useContext()
const store = useStore()
const { trackName, trackArtists, cover, paused, uri, position, duration, shuffleState, toggleShuffle, repeatMode, toggleRepeatMode } = useMusicPlayer()
const token = $auth.strategy.token.get().replace('Bearer ', '')
const playerTracker = ref(null)
const volumeTracker = ref(null)
const seekEventFlag = ref(false)
const volumeEventFlag = ref(false)
const playTime = ref(position.value || 0)
const titleTranslateX = ref(0)
const metaDom = ref(null)
const trackNameDom = ref(null)
const trackNameOverflowed = ref(false)

let playTimeInterval
const volumeLevel = ref(0)
const beforeMuteVolumeLevel = ref(0)

let player

const play = () => {
  player.togglePlay()
}

const previousTrack = () => {
  player.previousTrack()
}

const nextTrack = () => {
  player.nextTrack()
}

onMounted(() => {
  window.onSpotifyWebPlaybackSDKReady = () => {
    player = new window.Spotify.Player({
        name: 'Spotify Clone',
        getOAuthToken: cb => { cb(token); },
    })

    player.addListener('ready', ({ device_id: id }) => {
      store.commit('musicPlayer/SET_DEVICE_ID', id)
    })

    player.addListener('player_state_changed', (state) => {
      if (!state) {
        return;
      }

      if (state.track_window.current_track.uri !== uri.value) {
          playTime.value = 0
      }

      player.getCurrentState().then(state => {
        store.commit('musicPlayer/SET_PLAYER_STATE', state)

        player.getVolume().then(volume => {
          volumeLevel.value = volume
        })

        // Detect if track name is overflowing
        trackNameOverflowed.value = trackNameDom.value.scrollWidth > metaDom.value.clientWidth
        titleTranslateX.value = metaDom.value.clientWidth - trackNameDom.value.scrollWidth
      })
    })

    player.connect();
  }

  // Mouse cursor has gone off screen
  document.addEventListener('mouseleave', () => {
    seekEventFlag.value = false
    volumeEventFlag.value = false
  })
})

watch(paused, (state) => {
  if (!state && playTime.value !== duration.value) {
    playTimeInterval = setInterval(() => {
      if (playTime.value >= 0 && playTime.value <= duration.value && !seekEventFlag.value) {
        playTime.value += 1000
      }
     }, 1000)
  } else {
    clearInterval(playTimeInterval)
  }
})

// watch(volumeLevel, (level, beforeLevel) => {
//   if (level === 0) {
//     beforeMuteVolumeLevel.value = beforeLevel
//   }
// })

const seekMove = ($evt) => {
  const { pageX } = $evt
  const { left, right } = playerTracker.value.getBoundingClientRect()
  const width = right - left
  let seek = (Math.round(pageX - left) / width) * duration.value
  seek = Math.min(Math.max(seek, 0), duration.value)

  seekEventFlag.value = true
  playTime.value = seek
}

const onMoveSeekPlayer = ($evt) => {
  if (seekEventFlag.value) {
    seekMove($evt)
  }
}

const seekPlayer = ($evt) => {
  seekEventFlag.value = false
  player.seek(playTime.value)
}

const mute = () => {
  let level

  if (volumeLevel.value !== 0) {
    beforeMuteVolumeLevel.value = volumeLevel.value
    level = 0
  } else {
    level = beforeMuteVolumeLevel.value
    beforeMuteVolumeLevel.value = 0
  }

  player.setVolume(level)
  volumeLevel.value = level
}

const setVolume = ($evt) => {
  const { pageX } = $evt
  const { left, right } = volumeTracker.value.getBoundingClientRect()
  const width = right - left
  let level = (Math.round(pageX - left) / width)
  level = Math.min(Math.max(level, 0), 1)

  volumeEventFlag.value = true
  player.setVolume(level)
  volumeLevel.value = level
}

const onMoveSetVolume = ($evt) => {
  if (volumeEventFlag.value) {
    setVolume($evt)
  }
}

const volumeDeFlag = () => {
  volumeEventFlag.value = false
}

const playProgress = computed(() => (duration.value ? 100 - ((playTime.value / duration.value) * 100) : 100))

const volumeLevelPercent = computed(() => 100 - (volumeLevel.value * 100))
</script>

<style lang="scss" scoped>
.music-player {
  @apply fixed bottom-0 left-0 right-0 p-15px w-full bg-dark-900 border-t border-dark-500 flex items-center;

  .current-track,
  .other-controls {
    @apply w-1/4 max-w-1/4;
  }

  .current-track {
    @apply flex items-center mr-20px;

    .cover {
      @apply w-50px h-50px aspect-square mr-10px;

      &.empty {
        @apply bg-dark-300;
      }
    }

    .meta {
      @apply overflow-hidden;

      h5,
      p {
        @apply text-xs;
      }

      h5 {
        @apply whitespace-nowrap;

        width: fit-content;
      }
    }
  }

  .handle {
    @apply bg-light-100 w-13px h-13px rounded-full shadow-sm shadow-dark-500 absolute right-0 top-1/2 transform -translate-y-1/2 translate-x-1/2 hidden;
  }

  .player-ui {
    @apply flex-1;

    .player-controls {
      @apply text-center;

      .shuffle,
      .repeat,
      .skip {
        @apply text-true-gray-400;

        &:hover {
          @apply text-light-50;
        }
      }

      .shuffle,
      .repeat {
        &.active {
          @apply text-emerald-500;
        }
      }

      .shuffle {
        @apply mr-15px;
      }

      .repeat {
        @apply ml-10px;
      }

      .play-pause {
        @apply bg-dark-50 rounded-full p-5px text-dark-800 transition transition-all transform mx-10px mb-10px;

        &:hover {
          @apply scale-110;
        }
      }
    }

    .player-progress {
      @apply flex items-center;

      .timer {
        @apply text-xs;
      }

      .player-tracker-wrapper {
        @apply flex-1 mx-10px relative py-3px;

        &:hover {
          .progress {
            @apply bg-emerald-500;
          }

          .handle {
            @apply block;
          }
        }

        .progress,
        .player-tracker {
          @apply h-4px rounded-full;
        }

        .player-tracker {
          @apply bg-dark-50 overflow-hidden;
        }

        .progress {
          @apply bg-light-900 transform -translate-x-full;
        }
      }
    }
  }

  .other-controls {
    @apply ml-20px;

    .volume-ui {
      @apply flex items-center max-w-1/2 ml-auto;

      button {
        @apply text-true-gray-400;

        &:hover {
          @apply text-light-900;
        }
      }

      .volume-tracker-wrapper {
        @apply relative flex-1 mx-10px py-3px;

        &:hover {
          .progress {
            @apply bg-emerald-500;
          }

          .handle {
            @apply block;
          }
        }

        .progress,
        .volume-tracker {
          @apply h-4px rounded-full;
        }

        .volume-tracker {
          @apply bg-dark-50 overflow-hidden;
        }

        .progress {
          @apply bg-light-900 transform -translate-x-full;
        }
      }
    }
  }
}
</style>
