<template>
  <div class="sidebar-container">
    <div v-if="$auth.loggedIn">
      <ul class="navigation">
        <li>
          <nuxt-link class="exact" to="/">
            <mdicon name="home" /> Home
          </nuxt-link>
        </li>
        <li>
          <nuxt-link to="/library">
            <mdicon name="bookmark-box-multiple" /> Your Library
          </nuxt-link>
        </li>
      </ul>

      <ul class="sidebar-playlists">
        <li v-for="playlist in playlists" :key="`sidebar.playlist.${playlist.id}`">
          <nuxt-link :to="`/playlist/${playlist.id}`">
            {{ playlist.name }}
          </nuxt-link>
        </li>
      </ul>
    </div>
  </div>
</template>

<script setup>
import { useStore } from '@nuxtjs/composition-api'

const store = useStore()
const playlists = store.state.userTracks.userPlaylists
</script>

<style lang="scss" scoped>
div.sidebar-container {
  @apply p-5px pt-30px;

  .logo {
    @apply p-20px mb-20px;
  }

  .navigation {
    @apply pb-20px mb-20px border-b border-true-gray-600;

    a {
      @apply text-true-gray-400 flex items-center w-full no-underline text-sm font-bold px-10px py-10px rounded-sm transition transition-colors;

      &:hover {
        @apply text-white;
      }

      &.exact.nuxt-link-exact-active,
      &.nuxt-link-active:not([href="/"]) {
        @apply bg-dark-600 text-white;
      }

      .mdi {
        @apply mr-10px;
      }
    }
  }

  .sidebar-playlists {
    @apply grid gap-7px px-10px text-sm;

    li {
      a {
        @apply line-clamp-1 text-true-gray-400 transition transition-colors;

        &:hover,
        &.nuxt-link-active {
          @apply text-white;
        }
      }
    }
  }
}
</style>
