<template>
  <div class="track-row" :class="{active: isPlaying, compact}" @dblclick="playTrack">
    <div class="index">
      <span>{{ index }}</span>
      <button @click="playTrack">
        <mdicon v-if="!isPlaying || paused" name="play" size="20" />
        <template v-else>
          <div class="now-playing">
            <span />
            <span />
            <span />
          </div>
          <mdicon class="pause" name="pause" size="20" />
        </template>
      </button>
    </div>

    <div class="album">
      <img v-if="!compact" :src="albumCover" alt="">

      <div>
        <div class="track-name">{{ trackName }}</div>
        <div class="track-artist">{{ albumArtists }}</div>
      </div>
    </div>

    <div v-if="!compact" class="track-album">
      <span>{{ albumName }}</span>
    </div>

    <div class="track-duration">
      {{ millisToMinutesAndSeconds(durationMs) }}
    </div>
  </div>
</template>

<script setup>
import { defineProps, computed, useStore, useContext } from '@nuxtjs/composition-api'
import useMusicPlayer from '~/composition/useMusicPlayer'
import { millisToMinutesAndSeconds } from '~/util'

const props = defineProps({
  item: {
    type: Object,
    required: true,
  },
  index: {
    type: Number,
    required: true,
  },
  compact: {
    type: Boolean,
    default: false,
  }
})

const store = useStore()
const { $auth } = useContext()

const albumCover = computed(() => props.item.album.images[0].url)
const albumName = computed(() => props.item.album.name)
const trackName = computed(() => props.item.name)
const durationMs = computed(() => props.item.duration_ms)
const uri = computed(() => props.item.uri)
const albumArtists = computed(() => {
  const artists = props.item.artists.slice(0, 3).map(({name}) => name).join(', ')

  return props.item.artists.length > 3 ? `${artists} and more` : artists
})

const isPlaying = computed(() => uri.value === store.state.musicPlayer.uri)
const { togglePlay, paused } = useMusicPlayer()

const playTrack = () => {
  if (!isPlaying.value) {
    store.dispatch('musicPlayer/playSong', {uri: uri.value, $auth})
  } else {
    togglePlay()
  }
}
</script>

<style lang="scss" scoped>
.track-row {
  @apply grid gap-16px px-16px rounded-4px h-54px;

  grid-template-columns: 16px 4fr 2fr minmax(120px, 1fr);

  &.compact {
    grid-template-columns: 16px 4fr minmax(120px, 1fr);
  }

  &.active,
  &:hover {
    .index {
      > span {
        @apply hidden;
      }

      button {
        @apply inline-block;
      }
    }
  }

  &.active {
    @apply bg-dark-50;

    .index {
      button {
        .now-playing {
          @apply relative flex justify-between w-13px h-13px;

          span {
            @apply w-3px h-full bg-emerald-500;

            animation: music-bars 2.2s ease infinite alternate;
            content: '';

            &:nth-of-type(2) {
              animation-delay: -2.2s;
            }

            &:nth-of-type(3) {
              animation-delay: -3.7s;
            }
          }
        }

        .pause {
          @apply hidden;
        }

        &:hover {
          .now-playing {
            @apply hidden;
          }

          .pause {
            @apply inline;
          }
        }
      }
    }

    .album {
      .track-name {
        @apply text-emerald-500;
      }
    }
  }

  &:hover:not(.active) {
    @apply bg-dark-300;
  }

  .index {
    @apply flex items-center justify-center w-16px;

    button {
      @apply hidden;
    }
  }

  .album {
    @apply flex items-center;

    img {
      @apply w-40px mr-16px aspect-square;
    }

    .track-name {
      @apply text-16px leading-24px line-clamp-1;
    }

    .track-artist {
      @apply text-14px leading-16px line-clamp-1;
    }
  }

  .track-album {
    @apply text-true-gray-400 text-14px flex items-center;

    > span {
      @apply line-clamp-1;
    }
  }

  .track-duration {
    @apply text-14px flex items-center;
  }
}

@keyframes music-bars {
  10% {
    transform: scaleY(0.3);
  }
  30% {
    transform: scaleY(1);
  }
  60% {
    transform: scaleY(0.5);
  }
  80% {
    transform: scaleY(0.75);
  }
  100% {
    transform: scaleY(0.6);
  }
}
</style>
