<template>
  <section>
    <h2>{{ heading }}</h2>

    <div class="track-list">
      <track-row v-for="(item, index) in items" :key="`track.list.${keyPrefix}.${item.id}.${index}`" :item="item" :index="index + 1" :compact="compact" />
    </div>
  </section>
</template>

<script setup>
import { defineProps } from '@nuxtjs/composition-api'
import { kebabCase } from 'lodash'

const props = defineProps({
  heading: {
    type: String,
    required: true,
  },
  items: {
    type: Array,
    default: () => ([])
  },
  compact: {
    type: Boolean,
    default: false,
  }
})

const keyPrefix = kebabCase(props.heading)
</script>

<style lang="scss" scoped>
section {
  h2 {
    @apply text-2xl font-bold mb-20px;
  }
}
</style>
