<template>
  <section>
    <h2>{{ heading }}</h2>

    <div class="track-grid">
      <component :is="`${type(item)}-box`" v-for="(item, index) in items" :key="`track.grid.${keyPrefix}.${item.id}.${index}`" :item="item" />
    </div>
  </section>
</template>

<script setup>
import { defineProps } from '@nuxtjs/composition-api'
import { kebabCase } from 'lodash'

const props = defineProps({
  heading: {
    type: String,
    required: true,
  },
  items: {
    type: Array,
    default: () => ([])
  }
})

const keyPrefix = kebabCase(props.heading)

const type = (item) => {
  return item.type || 'track'
}
</script>

<style lang="scss" scoped>
section {
  h2 {
    @apply text-2xl font-bold mb-20px;
  }

  div.track-grid {
    @apply grid grid-cols-trackGrid gap-20px;
  }
}
</style>
