<template>
  <div class="layout">
    <aside>
      <site-sidebar class="site-sidebar" />
    </aside>

    <main>
      <header v-if="$auth.loggedIn">
        <account-menu />
      </header>

      <div class="site-content">
        <div v-if="!$auth.loggedIn" class="login-screen">
          <button @click="connect">Connect to Spotify</button>
        </div>
        <nuxt v-else />
      </div>

      <music-player v-if="$auth.loggedIn" />
    </main>
  </div>
</template>

<script>
import { useContext, watch, useRouter } from '@nuxtjs/composition-api'
import { useDocumentVisibility } from '@vueuse/core'
import logo from '~/assets/images/logo.png'

export default {
  setup() {
    const { $auth } = useContext()
    const visibility = useDocumentVisibility()
    const router = useRouter()

    const connect = async () => {
      await $auth.loginWith('social')
    }

    watch(visibility, (current, previous) => {
      if (current === 'visible' && previous === 'hidden' && $auth.strategy.token.status().expired()) {
        router.go(0)
      }
    })

    return {
      connect,
      logo,
    }
  }
}
</script>

<style lang="scss" scoped>
.layout {
  @apply grid grid-cols-layout;

  aside {
    .logo {
      @apply p-25px mb-20px;
    }
    .site-sidebar {
      @apply sticky top-0;
    }
  }

  main {
    @apply bg-dark-800 mb-70px;

    header {
      @apply flex justify-end px-30px py-20px sticky top-0 bg-black z-50;
    }

    .site-content {
      @apply min-h-screen px-30px mt-30px mb-50px;

      .login-screen {
        @apply flex items-center justify-center h-screen;

        button {
          @apply border border-true-gray-400 px-20px py-10px rounded-lg shadow-md shadow-true-gray-900 transition transition-all;

          &:hover {
            @apply border-light-50;
          }
        }
      }
    }
  }
}
</style>
