<template>
  <div class="h-screen flex flex-col items-center justify-center">
    <p class="mb-10px">Logging in...</p>
    <img class="w-50px" :src="icon" alt="">
  </div>
</template>

<script setup>
import icon from '~/assets/images/spotify-white.png'
</script>
