<template>
  <div class="main-grid">
    <track-grid heading="Your Recently Played Tracks" :items="recentlyPlayedTracks" />

    <track-grid heading="Your Top Tracks" :items="topTracks" />

    <track-grid heading="Your Top Artists" :items="topArtists" />
  </div>
</template>

<script>
import { useStore, computed } from '@nuxtjs/composition-api'

export default {
  layout: 'main',
  setup() {
    const store = useStore()

    return {
      recentlyPlayedTracks: computed(() => store.state.userTracks.recentlyPlayedTracks),
      topTracks: computed(() => store.state.userTracks.topTrackItems),
      topArtists: computed(() => store.state.userTracks.topArtistItems),
    }
  }
}
</script>

<style lang="scss" scoped>
.main-grid {
  @apply grid gap-40px;
}
</style>
