<template>
  <div>
    <nav>
      <nuxt-link to="/library/playlists">Playlists</nuxt-link>
      <nuxt-link to="/library/artists">Artists</nuxt-link>
      <nuxt-link to="/library/albums">Albums</nuxt-link>
    </nav>
    <nuxt-child  />
  </div>
</template>

<script setup>
import { useRouter } from '@nuxtjs/composition-api'

const router = useRouter()

router.push('/library/playlists')
</script>

<script>
export default {
  layout: 'main'
}
</script>

<style lang="scss" scoped>
nav {
  @apply grid text-sm grid-flow-col auto-cols-min mb-20px;

  a {
    @apply text-true-gray-300 rounded-md px-20px py-10px transition transition-colors;

    &:hover {
      @apply text-white;
    }

    &.nuxt-link-active {
      @apply bg-dark-900 text-white;
    }
  }
}
</style>
