<template>
  <div>
    <section class="user-profile">
      <img class="profile-img" :src="profileImage" alt="">

      <div class="meta">
        <h6>Profile</h6>
        <h2>{{ displayName }}</h2>
        <p>{{ followers }} Followers &middot; {{ capitalize(userType) }} user</p>
      </div>
    </section>

    <div class="grid gap-40px">
      <track-grid v-if="topArtistsMonth" heading="Your Top Artists this month" :items="topArtistsMonth.items" />

      <track-list v-if="topTracksMonth" heading="Your Top Tracks this month" :items="topTracksMonth.items" />

      <track-grid v-if="playlists" heading="Playlists" :items="playlists.items" />
    </div>
  </div>
</template>

<script>
import { useAsync, useContext } from '@nuxtjs/composition-api'
import { capitalize } from 'lodash'
import useUser from '~/composition/useUser'
import api from '~/services/api'

export default {
  layout: 'main',
  setup() {
    const { profileImage, displayName, followers, userType} = useUser()
    const { $auth } = useContext()

    const topArtistsMonth = useAsync(() => {
      return api('/me/top/artists', $auth, {
        params: {
          time_range: 'short_term',
          limit: 5,
        }
      })
    })

    const topTracksMonth = useAsync(() => {
      return api('/me/top/tracks', $auth, {
        params: {
          time_range: 'short_term',
          limit: 4,
        }
      })
    })

    const playlists = useAsync(() => {
      return api('/me/playlists', $auth, {
        params: {
          limit: 5,
        }
      })
    })

    return {
      profileImage,
      displayName,
      followers,
      userType,
      capitalize,
      topArtistsMonth,
      topTracksMonth,
      playlists,
    }
  }
}
</script>

<style lang="scss" scoped>
.user-profile {
  @apply flex items-end mb-40px;

  .profile-img {
    @apply rounded-full w-70 shadow-lg shadow-black mr-20px;
  }

  .meta {
    h6 {
      @apply mb-15px uppercase text-xs font-bold;
    }

    h2 {
      @apply mb-20px text-7xl font-bold;
    }

    p {
      @apply text-sm;
    }
  }
}
</style>
