<template>
  <div>
    <header>
      <div v-if="banner" class="album-banner">
        <img :src="banner" alt="">
      </div>
      <div v-if="playlistName" class="meta">
        <h6>{{ albumType }}</h6>
        <h2>{{ albumName }}</h2>
        <p v-if="albumDescription">{{ albumDescription }}</p>
      </div>
    </header>

    <track-list v-if="album" heading="" compact :items="album.tracks.items" />
  </div>
</template>

<script setup>
import { useAsync, useRoute, useContext, computed } from '@nuxtjs/composition-api'
import { get } from 'lodash'
import api from '~/services/api'
import { stripHtml } from '~/util'

const route = useRoute()
const { $auth } = useContext()

const album = useAsync(() => {
  return api(`/albums/${route.value.params.id}`, $auth)
}, route.value.params.id)

const banner = computed(() => get(album.value, 'images[0].url', ''))
const albumName = computed(() => get(album.value, 'name', ''))
const albumDescription = computed(() => get(album.value, 'description', ''))
const albumType = computed(() => stripHtml(get(album.value, 'album_type', '')))
</script>

<script>
export default {
  layout: 'main'
}
</script>

<style lang="scss" scoped>
header {
  @apply flex mb-50px items-end;

  .album-banner {
    @apply mr-20px w-250px;

    img {
      @apply shadow-lg shadow-true-gray-900;
    }
  }

  .meta {
    @apply flex-1;

    h6 {
      @apply uppercase text-xs mb-5px;
    }

    h2 {
      @apply font-bold text-5xl;
    }

    p {
      @apply mt-10px text-true-gray-400 text-sm;
    }
  }
}
</style>
